body,
html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(3, 20, 46);
}

nav ul {
    list-style: none;
    background-color: rgb(61, 90, 152);
    text-align: center;
    padding: 10px 0;
    margin: 0;
    border: seashell solid 1px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 15px 20px;
}

.programacion {
    background-color: #ffffff;
    max-width: 960px;
    margin: 40px auto;
    padding: 20px;
    box-shadow: 0 4px 8px rgb(61, 90, 152);
    border-radius: 8px;
}

.programacion h1 {
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table,
th,
td {
    border: 1px solid #ccc;
}

th,
td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

footer {
    background-color: rgb(61, 90, 152);
    
    color: white;
    
    padding: 20px 0;
    
    font-family: Arial, sans-serif;
    
}

.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.contact-info p,
.social-media p {
    margin: 5px 0;
}

.social-media a {
    margin-right: 10px;
}

.social-media img,
.contact-info img {
    width: 24px;
    vertical-align: middle;

}


@media (max-width: 600px) {
    .footer-container {
        flex-direction: column;
        
    }
}


@media (max-width: 600px) {
    table {
        display: block;
        overflow-x: auto;
    }
}

@media (max-width: 768px) {
    .hero {
        padding: 30px 10px;
    }

    nav ul li {
        display: block;
        text-align: center;
    }

    nav ul li a {
        padding: 10px 5px;
        display: block;

        .organizadores img {
            height: 40px;
        }

        .hero h1,
        .hero p {
            font-size: 18px;
        }
    }

    @media (max-width: 480px) {
        .hero {
            padding: 20px 5px;
        }

        nav ul li a {
            padding: 8px 5px;
        }

        .organizadores img {
            height: 30px;
        }

        .hero h1,
        .hero p {
            font-size: 16px;
        }

        .why-attend {
            padding: 10px;
        }
    }
}