body,
html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: white;
}

h1 {
    text-align: center;
}

nav ul {
    list-style: none;
    background-color: rgb(61, 90, 152);
    text-align: center;
    padding: 10px 0;
    margin: 0;
    border: seashell solid 1px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 15px 20px;
}

.tematicas {
    display: grid;
    padding: 20px;
}

.tematica {
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
    text-align: center;
}

.tematica img {
    width: 50%;
    height: auto;
}


.tematica h2 {
    margin: 10px 0;
}

.hero {
    padding: 30px 10px;
}

nav ul li {
    display: block;
    text-align: center;
}

nav ul li a {
    padding: 10px 5px;
    display: block;
}

.organizadores img {
    height: 40px;
}

.hero h1,
.hero p {
    font-size: 18px;
}



@media (max-width: 480px) {
    .hero {
        padding: 20px 5px;
    }

    nav ul li a {
        padding: 8px 5px;
    }

    .organizadores img {
        height: 30px;
    }

    .hero h1,
    .hero p {
        font-size: 16px;
    }

    .why-attend {
        padding: 10px;
    }
}